<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %>  
<body>
    <%- include('./partials/header') %>
 <main>
    <%- include('./partials/banner') %>  
    <section class="hot-sales">
         <div class="section-hot-sales">
             <h2 class="title-hot-sale">Lo más Vendido</h2>
             <div class="description-hot-sales">
                <p>Estos son los productos favoritos de nuestros clientes en el 2021, Recopilamos los productos superventas del último año con precios especiales.</p>
             </div>
         </div>
         <div class="products-hot">

        <% if(producthotSales.length > 0)  {%>
            <% producthotSales.forEach(element => { %>
                <a href="/producto/editar/<%= element.id %>">
                    <article>
                        <div class="img-description">
                            <img src="/images/products/<%- element.images[0] ? element.images[0].name : 'no-image-available.jpg' %>" alt="No Image"
                        class="product-image">
                            <h4><%= element.name %></h4>
                        </div>
                        <div class="product-detail">
                            <a href="/detail"><i class="fas fa-shopping-cart"></i></a>
                            <p class="price">$<%= element.price %></p>
                            <p class="discount"><%= element.discount %>%</p>  
                        </div>
                    </article>
                </a>
             <% }) %>
             <% } else { %>
                <p>No hay Resultados</p>
            <% } %>
         </div>
    </section>
    <section class="week-sales">
        <div class="section-week-sales">
            <h2 class="title-week-sale">Ofertas de la semana</h2>
        </div>
        <div class="products-week">
            <% if(productsInSales.length > 0)  {%>
                <% productsInSales.forEach(element => { %>
                    <a href="/producto/editar/<%= element.id %>">
                        <article>
                            <div class="img-description">
                                <img src="/images/<%- element.images[0] ? element.images[0].name : 'no-image-available.jpg' %>" alt="No Image"
                            class="product-image">
                                <h4><%= element.name %></h4>
                            </div>
                            <div class="product-detail">
                                <a href="/detail"><i class="fas fa-shopping-cart"></i></a>
                                <p class="price">$<%= element.price %></p>
                                <p class="discount"><%= element.discount %>%</p>  
                            </div>
                        </article>
                    </a>
                    <% }) %>
                    <% } else { %>
                    <p>No hay Resultados</p>
                <% } %>
            </div>
    </section>
    <section class="new-sales">
        <div class="section-new-sales">
            <h2 class="title-new-sale">Nuevo Lanzamiento</h2>
        </div>        
        <div class="new-sales-main">
            <div class="description-new-sales">
                <p class="new-sales-note">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore!.Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia, non fugiat ipsum 
                    perspiciatis totam et nisi qui repellendus eum laboriosam rem corrupti reiciendis officia 
                    quidem quibusdam quas quos temp.
                </p>                
                <div class="products-new">
                    <a href="/producto/editar/<%= newProducts.id %>">
                        <article>
                            <div class="img-description">
                                <img src="/images/products/<%- newProducts.images[0] ? newProducts.images[0].name : 'no-image-available.jpg' %>" alt="No Image"
                            class="product-image" class="product-image">
                                <h4><%= newProducts.name %></h4>                    
                            </div>
                            <div class="product-detail">
                                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
                                <p class="price">$<%= newProducts.price %></p>
                                <p class="discount"><%= newProducts.discount %>%</p>
                            </div>
                        </article>
                    </a>          
                </div>
            </div>
        </div>
    </section>
 </main>
 <%- include('./partials/footer.ejs') %>   
</body>
</html>