<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form"> 
        <main> 
            <h2>Registro de Usuario</h2>
              
            <form action ="/user/registro/" method="POST" class="form-register" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="nombreApellido">Nombre y apellido</label>
                    <input type="text" name="nombreApellido" id="nombreApellido" class="control" value="<%= locals.oldData ? oldData.nombreApellido : null %>">
                    
                    <div class="text-danger">
                        <% if (locals.errors && errors.nombreApellido) { %>
                            <%= errors.nombreApellido.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="userEmail">Email</label>
                    <input type="email" name="userEmail" id="userEmail" class="control" value="<%= locals.oldData ? oldData.userEmail : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.userEmail) { %>
                            <%= errors.userEmail.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="sexo">Sexo</label>
                    <select name="sexo" id="sexo" class="control" <%= locals.oldData ? oldData.userEmail : null %>>
                        <option value="">Seleccione su Sexo</option>
                        <option value="M" <%= locals.oldData && (oldData.sexo === 'M') ? 'selected' : null %>>
                            Masculino
                        </option>
                        <option value="F" <%= locals.oldData && (oldData.sexo === 'M') ? 'selected' : null %>>
                            Femenino
                        </option>
                    </select>
                    <div class="text-danger">
                        <% if (locals.errors && errors.sexo) { %>
                            <%= errors.sexo.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="telefono">Teléfono</label>
                    <input type="number" name="telefono" id="telefono" class="control" value="<%= locals.oldData ? oldData.telefono : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.telefono) { %>
                            <%= errors.telefono.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="fechaNac">Fecha de nacimiento</label>
                    <input type="date" name="fechaNac" id="fechaNac" class="control" value="<%= locals.oldData ? oldData.fechaNac : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.fechaNac) { %>
                            <%= errors.fechaNac.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="imageUser" class="control">Seleccione Imagen</label>
                    <input type="file" name="imageUser" id="imageUser" 
                    accept="image/png, image/jpeg">                    
                </div>
                <div class="form-control">
                    <label for="userPass">Contraseña</label>
                    <input type="password" name="userPass" id="userPass" class="control">
                    <div class="text-danger">
                        <% if (locals.errors && errors.userPass) { %>
                            <%= errors.userPass.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="confirmPass">Confirmar contraseña</label>
                    <input type="password" name="confirmPass" id="confirmPass" class="control">
                    <div class="text-danger">
                        <% if (locals.errors && errors.confirmPass) { %>
                            <%= errors.confirmPass.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control-button">
                    <button type="submit" class="button-form">Guardar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>
            </form>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>