<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form"> 
        <main> 
            <h2>ProcFile de Usuario: (<%= user.category %>) </h2>
              
            <div>
                <h2>Hi! <%= user.nombreApellido %> </h2>
                <img src="/images/avatars/<%= user.image %>" alt="foto de usuario">
                <br>
                <br>
                <div><%= user.email %></div>
            </div>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>