<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main-form"> 
        <main class="page-container product-container-perfil"> 
          <% if (user.roles.name == 'Admin') { %>
            <h2>Perfil de Usuario: (<%= user.roles.name %>) </h2>
        <% } %>
            <section class="products-content-perfil">
                <div class="product-details">
                    <form>                    
                        <div>
                            <h2>Hi! <%= user.name + ' ' + user.lastname %> </h2>
                            <img src="/images/avatars/<%=user.image %>" alt="foto de usuario">
                            </br>    
                        </div>
                        <div class="form-perfil-item">
                          <label for="name" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="name" aria-describedby="nameHelp" value=<%= user.name %>  disabled>
                        </div>
                        <div class="form-perfil-item">
                          <label for="lastname" class="form-label">Apellido</label>
                          <input type="text" class="form-control" id="lastname" aria-describedby="apellidoHelp" value=<%= user.lastname %>  disabled>
                        </div>
                        <div class="form-perfil-item">
                          <label for="email" class="form-label">Correo Electrónico</label>
                          <input type="email" class="form-control" id="email" aria-describedby="email" value=<%= user.email %> disabled>
                        </div>
                        <div class="form-perfil-item">
                          <label for="address" class="form-label">Dirección de envío</label>
                         
                          <textarea name="address" id="address" rows="5" aria-describedby="address-help" disabled><%= user.address.find(a => a.isAddressBill === 1) ? user.address.find(a => a.isAddressBill === 1).description : '' %></textarea>
                        </div>
                        <div class="form-perfil-item">
                          <label for="address" class="form-label">Dirección de facturación</label>
                          <textarea name="address" id="address" rows="5" aria-describedby="address-help" disabled><%= user.address.find(a => a.isAddressBill === 0) ? user.address.find(a => a.isAddressBill === 0).description : '' %></textarea>
                        </div>
                        <% if (user.roles.name == 'Admin') { %>
                          <div class="buttons-form">
                            <a href="/user/edit/<%= user.id %>" class="btn btn-secondary">Edit <i class="fas fa-edit"></i></a>
                        </div>
                      <% } %>
                      <a href="/user/edit/<%= user.id %>" class="btn-icon btn-edit">Modificar <i class="fas fa-edit"></i> </a>
                      </form>
  
    
                </div>
                
            </section>  
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>