<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <div class="main-form">
    <!-- <div class="form-register"> -->
        <main>
            <h2>Agregar Productos</h2>
            <form action="/producto/guardarProducto" method="POST" class="form-edit-product" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="nombre-producto">Nombre del Producto</label>
                    <input type="text" name="nombreProducto" id="nombreProducto" class="control" value="<%= locals.oldData ? oldData.nombreProducto : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.nombreProducto) { %>
                            <%= errors.nombreProducto.msg %> 
                        <% } %>
                    </div>                    
                </div>
                <div class="form-control">
                    <label for="descripcion-prod" class="control">Descripción</label>
                    <textarea name="descripcionProd" id="descripcionProd" 
                    cols="30" rows="5" class="control"><%= locals.oldData ? oldData.descripcionProd : null %></textarea>
                    <div class="text-danger">
                        <% if (locals.errors && errors.descripcionProd) { %>
                            <%= errors.descripcionProd.msg %> 
                        <% } %>
                    </div> 
                </div>
                <div class="form-control">
                    <label for="categoriaProd" class="control">Categoría</label>                    
					<select name="categoriaProd" id="categoriaProd" class="control">
						<option value=""></option>
                            <% categories.forEach(category => { %>  
                                <option value="<%= category.id %>" <%= locals.oldData ? oldData.categoriaProd == category.id ? "selected" : null : '' %>>
                                    <%= category.title %> 
                                </option>
                            <% }) %>                                
					</select>
                    <div class="text-danger">
                        <% if (locals.errors && errors.categoriaProd) { %>
                            <%= errors.categoriaProd.msg %> 
                        <% } %>
                    </div> 
                </div>
                <div class="form-control">
                    <label for="statusProd" class="control">Estatus</label>
					<select name="statusProd" id="statusProd" class="control">
						<option value="">Activo</option>
						<option value="">Inactivo</option>
					</select>
                </div>
                <div class="form-control">
                    <label for="imageProduct" class="control">Seleccione Imagen</label>
                    <input type="file" name="imageProduct" id="imageProduct" 
                    accept="image/png, image/jpg, image/gif" multiple />
                    <div class="text-danger">
                        <% if (locals.errors && errors.imageProduct) { %>
                            <%= errors.imageProduct.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="medidas" class="control">Medidas</label>
                    <table class="medidas" >
                        <tr>
                            <th>Largo</th>
                            <th>Ancho</th>
                            <th>Alto</th>
                        </tr>
                        <tr>
                            <td><input type="text" name="largo" id="largo" 
                                class="control" placeholder="Largo" value="<%= locals.oldData ? oldData.largo : null %>">
                            </td>
                            <td><input type="text" name="ancho" id="ancho" 
                                class="control" placeholder="Ancho" value="<%= locals.oldData ? oldData.ancho : null %>">
                            </td>
                            <td><input type="text" name="alto" id="alto" 
                                class="control" placeholder="Alto" value="<%= locals.oldData ? oldData.alto : null %>">
                            </td>                        
                        </tr>                    
                    </table>
                    <div class="text-danger">
                    </div>
                </div> 
                <div class="form-control">
                    <label for="precio-producto">Precio del Producto</label>
                    <input type="text" name="precioProducto" id="precioProducto" 
                    class="control precio" value="<%= locals.oldData ? oldData.precioProducto : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.precioProducto) { %>
                            <%= errors.precioProducto.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="discount-producto">Descuento del Producto</label>
                    <input type="text" name="discountProducto" id="discountProducto" 
                    class="control precio" value="<%= locals.oldData ? oldData.discountProducto : null %>">
                </div>
                <div class="form-control">
                    <label for="discount-producto">Cantidad Producto</label>
                    <input type="text" name="cantidadProducto" id="cantidadProducto" 
                    class="control precio" value="<%= locals.oldData ? oldData.cantidadProducto : null %>">
                    <div class="text-danger">
                        <% if (locals.errors && errors.cantidadProducto) { %>
                            <%= errors.cantidadProducto.msg %> 
                        <% } %>
                    </div>
                </div>
                <div class="form-control">
                    <label for="discount-producto">Cantidad Minima</label>
                    <input type="text" name="cantidadMinima" id="cantidadMinima" 
                    class="control precio" value="<%= locals.oldData ? oldData.cantidadMinima : null %>">
                </div>
                <div class="form-control">
                    <label for="discount-producto">Cantidad Máxima</label>
                    <input type="text" name="cantidadMaxima" id="cantidadMaxima" 
                    class="control precio" value="<%= locals.oldData ? oldData.cantidadMaxima : null %>">
                </div>
                
                <div class="form-control-button">
                    <button type="submit" class="button-form">Guardar</button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>
            </form>
        </main>
    </div>
<%- include('../partials/footer.ejs') %> 
</body>
</html>