<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <div class="main-form">
    <!-- <div class="form-register"> -->
        <main>
            <h2>Edición de Producto</h2>
            <!-- <form action="/home.html" method="POST" class="create-form"> -->
            <form action="/producto/editar/<%= oneProduct.id %>?_method=PUT" method="POST" class="form-edit-product">
                <div class="form-control">
                    <label for="nombre-producto">Nombre del Producto</label>
                    <input type="text" name="nombreProducto" id="nombreProducto" 
                    value="<%= oneProduct.name %>" class="control" required>
                </div>
                <div class="form-control">
                    <label for="descripcion-prod" class="control">Descripción</label>
                    <textarea name="descripcionProd" id="descripcionProd" 
                    cols="30" rows="5" class="control"><%= oneProduct.description %></textarea>
                </div>
                <div class="form-control">
                    <label for="categoria-prod" class="control">Categoría</label>
                    <input type="text" name="categoryProducto" id="categoryProducto" 
                    value="<%= oneProduct.category %>" class="control" required>
                </div>
                <div class="form-control">
                    <label for="medidas" class="control">Medidas</label>
                    <table class="medidas" >
                        <tr>
                            <th>Largo</th>
                            <th>Ancho</th>
                            <th>Alto</th>
                        </tr>
                        <tr>
                            <td><input type="text" name="largo" id="largo" 
                                class="control" placeholder="Largo" 
                                value="<%= oneProduct.l %>" required>
                            </td>
                            <td><input type="text" name="ancho" id="ancho" 
                                class="control" placeholder="Ancho" 
                                value="<%= oneProduct.w %>"required>
                            </td>
                            <td><input type="text" name="alto" id="alto" 
                                class="control" placeholder="Alto" 
                                value="<%= oneProduct.h %>"required>
                            </td>                        
                        </tr>                    
                    </table>
                </div> 
                <div class="form-control">
                    <label for="precio-producto">Precio del Producto</label>
                    <input type="text" name="precioProducto" id="precioProducto" 
                    class="control precio" value="<%= oneProduct.price %>"required>
                </div>
                <div class="form-control">
                    <label for="discount-producto">Descuento del Producto</label>
                    <input type="text" name="discountProducto" id="discountProducto" 
                    class="control precio" value="<%= oneProduct.discount %>" required>
                </div>            
                <div class="form-control-button">
                    <button type="submit" class="button-form">Guardar Cambios</button>
                    <button type="reset" class="button-form">Borrar</button>
                </div>
            </form>
        </main>
    </div>
<%- include('../partials/footer.ejs') %> 
</body>
</html>